.student-task-container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  /* text-align: center; */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.instruction {
    color: green;
    background-color: #8f8;
    padding: 5px 20px 5px;
    border: 2px solid #0a0;
    margin-bottom: 20px;
}

.actions {
    list-style-type: none;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 20px;
}

.actions li {
    margin-bottom: 8px;
    list-style-type: disc;
}

.actions a {
    color: #986633;
    text-decoration: none;
}

.actions a:hover {
  text-decoration: underline;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-item {
    text-align: center;
    position: relative;
    max-width: 20%;
    padding: 10px
}

.timeline-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ddd;
    margin: 0 auto 10px;
}

.timeline-date {
    color: #333;
    display: block;
    font-size: 14px;
    }

.timeline-label {
    color: black;
    font-size: 14px;
}

/* Styles for different states */
.past-deadline .timeline-circle {
    background-color: #A90201;
    border: none;
    transition: all 200ms ease-in;
    position: relative;
    justify-content: center;
    border-radius: 25px;
}

.past-deadline .timeline-date,
.past-deadline .timeline-label {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}

.approaching-deadline .timeline-circle {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #b3aeae;
    position: relative;
    transition: all 200ms ease-in;
}

.approaching-deadline .timeline-date,
.approaching-deadline .timeline-label {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}

.footer {
    margin-top: auto;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    }

.footer a {
    color: #8b0000;
    margin: 0 8px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
