.questionnaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 20px;
  }

  .questionnaire-table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
  }
  
  .questionnaire-table th, .questionnaire-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .questionnaire-table th {
    background-color: #f2f2f2;
  }
  
  .questionnaire-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .questionnaire-table tr:hover {
    background-color: #ddd;
  }



  